/* shamelessly stolen from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup :) */
.parkstats_popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.parkstats_popup .parkstats_popup_content {
	visibility: hidden;
	width: 160px;
	background-color: #272727;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}
.parkstats_popup .parkstats_popup_content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #272727 transparent transparent transparent;
}
.parkstats_popup.parkstats_show .parkstats_popup_content {
  visibility: visible;
  -webkit-animation: fade_in 1s;
  animation: fade_in 1s;
}
@-webkit-keyframes fade_in {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fade_in {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.parkstats_popup_content, .parkstats_popup_content > a {
	color: #f2f2f2 !important;
}

.parkstats_popup_content > a:hover {
	color: #ffa300 !important;
}
/* end of shameless theft */

/* bingo */
#parkstats_bingo_progress {
	margin: 0px !important;
	font-weight: initial;
	font-size: initial !important;
}
.parkstats_bingo_cell {
	text-align: center;
}
/* end of bingo */
