:root {
	--marker-size: 8px;
	--marker-font-size: 8px;
	--marker-border-width: 2px;
	--marker-border-colour: #444444;
	--marker-background: #eeeeee;
	--marker-completed-background: #ffa300;
	--marker-completed-border-colour: #444444;
}

#map_container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
}

#pane_toggle {
	width: 250px;
	padding: 10px;
}

#map {
	width: 100%;
	height: 100%;
}

.marker {
	background: var(--marker-background);
	min-width: var(--marker-size);
	min-height: var(--marker-size);
	font-size: var(--marker-font-size);
	border-radius: 50%;
	border: var(--marker-border-width) solid var(--marker-border-colour);
	text-align: center;
	vertical-align: middle;
	display: table;
}

.marker.completed {
	background: var(--marker-completed-background);
	border-color: var(--marker-completed-border-colour);
}

.section:not(:last-child) {
	margin-bottom: 10px;
}

p.heading {
	margin: 0px;
	text-align: center;
}

.log, .build_info {
	font-family: "Courier New";
	word-wrap: anywhere;
}

.collapsible::before {
	content: "▾";
	display: inline-block;
	width: 10px;
}

.collapsible.collapsed::before {
	content: "▸";
	display: inline-block;
	width: 10px;
}

.collapsible.collapsed + div {
	height: 0px;
	overflow: hidden;
}

.technical_info_val {
	padding-left: 10px;
}

.logitem {
	padding: 2px;
	margin-left: 10px;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
}

.logitem:first-child {
	border-radius: 5px 5px 0px 0px;
}

.logitem:last-child {
	border-bottom: 1px solid lightgrey;
	border-radius: 0px 0px 5px 5px;
}

.logitem:first-child:last-child {
	border-radius: 5px;
}

.logitem.message {
	background-color: none;
}

.logitem.warning {
	background-color: #ffee90;
}

.logitem.error {
	background-color: #ff9090;
}
