#parkmapper_map_container {
	display: none;
	position: fixed;
	z-index: 100000;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
}

#parkmapper_topbar {
	position: fixed;
	z-index: 10000000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.8);
}

#parkmapper_topbar ul {
	list-style-type: none;
	line-height: inherit;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#parkmapper_topbar a {
	display: block;
}

#parkmapper_left, #parkmapper_left li {
	float: left;
	margin-right: 10px;
}

#parkmapper_right, #parkmapper_right li {
	float: right;
}

.parkmapper_mask {
	opacity: 0.5;
	color: #a1b6b7;
}

.parkmapper_current_mask {
	opacity: 1;
}

#parkmapper_map {
	width: 100%;
	height: 100%;
}
